#header{
    .header-name{
        color: #43456b;
        text-shadow: 2px 2px 4px #9396d6;
        letter-spacing: 10px;
        font-size: 50px;
        padding: 15px;
    }
}

@media only screen and (max-width: 600px){
    #header{
        .header-name{
            font-size: 30px;
            padding: 5px;
        }
    }
}