#header{
    margin-top: 5px auto;
    width: auto;
    height: 20%;
    .header-name{
        color: rgb(109,209,150);
        text-shadow: 2px 2px 4px #000000;
        letter-spacing: 20px;
        font-size: 50px;
    }
}