.login-container{
    .login_form{
        margin: 3em auto;
        padding: 5%;
        display: flex;
        height: auto;
        flex-direction: column;
        border-radius: 15px;
        -webkit-box-shadow: -11px 5px 42px 1px rgba(176,166,176,1);
        -moz-box-shadow: -11px 5px 42px 1px rgba(176,166,176,1);
        box-shadow: -11px 5px 42px 1px rgba(176,166,176,1);
        overflow: auto;
        background-color: white;
        .inputs{
            display: flex;
            flex-direction: column;
            border-radius: 10px;
            label{
                display: flex;
                flex-direction: column;
                margin: 0 auto;
            }
            #email, #password{
                width: 15rem;
                height: 2rem;
                margin-bottom: 2rem;
            }
            #submit{
                margin: 0 auto;
                display: inline-block;
                width: 15rem;
                height: 2rem;
                font-size: 20px;
                border-radius: 15px;
                &:hover{
                    -ms-transform: scale(1.2);
                    transform: scale(1.2);
                    z-index: 1;
                    background: rgb(195,169,34);
                    background: linear-gradient(95deg, rgba(195,169,34, 0.6) 0%, rgba(45,213,253,0.8) 100%);
                }
                &:focus{
                    outline: 0;
                }
            }
        }
    }
}