#nav-bar{
    background-color: rgba(44,134,81, 0.9);
    width: auto;
    padding-bottom: 15px;
    .link-div{
        padding: 25px;
        .link{
            color: white;
            flex-grow: 1 1 1;
            display: inline-block;
            width: 20%;
            height: auto;
            text-decoration: none;
            font-size: 25px;
            font-weight: bold;
            &:hover{
                color: darkgreen;
                background-color: rgba(250,250,250, 0.5)
            }
        }
    }
}