$base-color: #43456b;
.table{
    margin:20px auto;
    height: 50vh;
    overflow: scroll;
    -webkit-overflow-scrolling: auto;
    width: 100%;
    table{
        width: 100%;
        border-collapse: collapse;
        background: white;
        th, td{
            width: auto;
            height: 50px;
            text-align: center;
            font-size: 13px;
        }
        th, tfoot td{
            position: sticky;
            top: -5px;
            background: #43456b;
            color:white;
            border: 3px solid #f3f1fd;;
        }
        tfoot td{
            bottom: -5px;
        }
        td{
            border: 3px solid #f3f1fd;
        }
        .foil{
            background: rgb(34,193,195);
            background: linear-gradient(74deg, rgba(34,193,195,1) 0%, rgba(126,181,181,1) 5%, rgba(247,223,164,1) 97%, rgba(237,210,151,1) 100%);
        }
        .Red{
            background: #d61133 !important;
            color: white;
        }
        .White{
            background: #fdf8f7;
        }
        .Blue{
            background: #0297db;
            color: white;
        }
        .Green{
            background: #479265;
            color: white;
        }
        .Black{
            background: #221b1b;
            color: white;
        }
        .Multicolor{
            background: rgb(214,17,51);
            background: linear-gradient(55deg, rgba(214,17,51,1) 17%, rgba(253,248,247,1) 34%, rgba(2,151,219,1) 51%, rgba(71,146,101,1) 68%, rgba(34,27,27,1) 85%);
        }
    }
    .edit-input{
        width: 3em;
    }
    .edit-card, .submit, .delete-card{
        display: flex;
        margin: 5px auto;
        width: 3em;
        border-radius: 5px;
        font-size: 15px;
        outline: 0;
        display: flex;
        justify-content: center;
        background: $base-color;
        color:white;
    }
    .delete-card, .submit{
        width: 4em;
    }
    .hover-me:hover{
        cursor: pointer;
    }
    .set-icon{
        width: 2%;
    }
    .icon-div{
        width: 50px;
        height: 50px;
        .icon{
            width: 100%;
            height: 100%;
        }
    }
    select{
        width: 100%;
        height: 100%;
        background: $base-color;
        color: white;
        border-color: transparent;
        font-size: 15px;
        font-family: 'Comfortaa', cursive;
        font-size: 13px;
    }
}


@media only screen and (max-width: 600px){
    .table{
        width: 90%;
        height: 40vh;
        overflow: scroll;
        table{
            overflow: scroll;
            th, td{
                font-size: 10px;
            }
        //     th, tfoot td{
        //         position: sticky;
        //         top: -5px;
        //         background: #43456b;
        //         color:white;
        //         border: 3px solid #f3f1fd;;
        //     }
        //     tfoot td{
        //         bottom: -5px;
        //     }
        //     td{
        //         border: 3px solid #f3f1fd;;
        //     }
        }
        .edit-input{
            width: 1.5em;
        }
        .edit-card, .submit, .delete-card{
            margin: 5px auto;
            width: auto;
            font-size: 10px;
        }
        // .delete-card, .submit{
        //     width: 4em;
        // }
        // .hover-me:hover{
        //     cursor: pointer;
        // }
        // .set-icon{
        //     width: 2%;
        // }
        // .icon-div{
        //     width: 50px;
        //     height: 50px;
        //     .icon{
        //         width: 100%;
        //         height: 100%;
        //     }
        // }
        select{
            width: inherit;
            height: 100%;
            background: $base-color;
            color: white;
            border-color: transparent;
            font-size: 15px;
            font-family: 'Comfortaa', cursive;
            font-size: 10px;
        }
    }
}