@import "./login_form";
@import "./nav_bar";
@import './header';
@import './search_card';
@import './table';
@import './card_list';
@import './card_form';
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    text-align: center;
    font-family: 'Comfortaa', cursive;
    height: 100vh;
    overflow: hidden;
    background: #f3f1fd;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color: black;
}

.search-card-form, .add-card-form{
    label{
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        font-size: 30px;
    }
}

.css-1uccc91-singleValue{
    width: 100%;
}