@import "./login_form";
@import "./nav_bar";
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    text-align: center;
    font-family: 'Comfortaa', cursive;
    height: 100vh;
    overflow: hidden;
}

li{
    list-style: none;
}