@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&display=swap");
.login-container {
  padding-top: 5px;
  height: 100vh;
  width: 100%;
  background: #43456b;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.login-container .login-form {
  width: 40%;
  height: 40%;
  margin: auto;
  padding: 5%;
  border-radius: 15px;
  -webkit-box-shadow: -1px 2px 5px 3px #b0a6b0;
          box-shadow: -1px 2px 5px 3px #b0a6b0;
  background-color: white;
  z-index: 5;
}

.login-container .login-form .inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.login-container .login-form .inputs label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
}

.login-container .login-form .inputs #email, .login-container .login-form .inputs #password {
  width: 15rem;
  height: 2rem;
  margin-bottom: 2rem;
}

.login-container .login-form .inputs #submit {
  margin: 0 auto;
  width: 15rem;
  height: 2rem;
  font-size: 20px;
  border-radius: 15px;
}

.login-container .login-form .inputs #submit:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  z-index: 1;
  background: #43456b;
  color: white;
}

.login-container .login-form .inputs #submit:focus {
  outline: 0;
}

@media only screen and (max-width: 600px) {
  .login-container .login-form {
    width: 70%;
  }
}

#nav-bar {
  background-color: #43456b;
  margin-bottom: 15px;
}

#nav-bar .link-div {
  padding: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

#nav-bar .link-div .link {
  color: white;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  line-height: 50px;
  vertical-align: middle;
  width: auto;
  height: auto;
  padding: 5px;
  text-decoration: none;
  font-size: 25px;
  font-weight: bold;
}

#nav-bar .link-div .link:hover {
  border-radius: 5px;
  color: #43456b;
  background-color: rgba(250, 250, 250, 0.5);
}

#nav-bar .link-div #logout, #nav-bar .link-div #add-binder {
  font-weight: bold;
  font-size: 18px;
  padding: 15px;
}

#nav-bar .link-div #logout:focus, #nav-bar .link-div #add-binder:focus {
  outline: 0;
}

@media only screen and (max-width: 600px) {
  #nav-bar .link-div {
    padding: 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  #nav-bar .link-div .link {
    font-size: 15px;
    width: 100%;
    line-height: normal;
  }
  #nav-bar .link-div #logout, #nav-bar .link-div #add-binder {
    width: 50%;
    padding: 5px;
    font-size: 15px;
  }
}

#header .header-name {
  color: #43456b;
  text-shadow: 2px 2px 4px #9396d6;
  letter-spacing: 10px;
  font-size: 50px;
  padding: 15px;
}

@media only screen and (max-width: 600px) {
  #header .header-name {
    font-size: 30px;
    padding: 5px;
  }
}

.search-card label {
  height: auto;
  font-size: 25px;
}

.search-card .search {
  height: 30px;
  width: 30%;
  border-radius: 5px;
  display: block;
  margin: 10px auto;
  outline: 0;
  text-align: center;
}

.table {
  margin: 20px auto;
  height: 50vh;
  overflow: scroll;
  -webkit-overflow-scrolling: auto;
  width: 100%;
}

.table table {
  width: 100%;
  border-collapse: collapse;
  background: white;
}

.table table th, .table table td {
  width: auto;
  height: 50px;
  text-align: center;
  font-size: 13px;
}

.table table th, .table table tfoot {
  position: sticky;
  position: -webkit-sticky;
  top: -5px;
  background: #43456b;
  color: white;
  border: 3px solid #f3f1fd;
}

.table table tfoot {
  bottom: -5px;
}

.table table td {
  border: 3px solid #f3f1fd;
}

.table .edit-input {
  width: 3em;
}

.table .edit-card, .table .submit, .table .delete-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 5px auto;
  width: 3em;
  border-radius: 5px;
  font-size: 15px;
  outline: 0;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #43456b;
  color: white;
}

.table .delete-card, .table .submit {
  width: 4em;
}

.table .hover-me:hover {
  cursor: pointer;
}

.table .set-icon {
  width: 2%;
}

.table .icon-div {
  width: 50px;
  height: 50px;
}

.table .icon-div .icon {
  width: 100%;
  height: 100%;
}

.table select {
  width: 100%;
  height: 100%;
  background: #43456b;
  color: white;
  border-color: transparent;
  font-size: 15px;
  font-family: 'Comfortaa', cursive;
  font-size: 13px;
}

@media only screen and (max-width: 600px) {
  .table {
    width: 90%;
    height: 40vh;
    overflow: scroll;
  }
  .table table {
    overflow: scroll;
  }
  .table table th, .table table td {
    font-size: 10px;
  }
  .table .edit-input {
    width: 1.5em;
  }
  .table .edit-card, .table .submit, .table .delete-card {
    margin: 5px auto;
    width: auto;
    font-size: 10px;
  }
  .table select {
    width: inherit;
    height: 100%;
    background: #43456b;
    color: white;
    border-color: transparent;
    font-size: 15px;
    font-family: 'Comfortaa', cursive;
    font-size: 10px;
  }
}

.cardlist {
  width: 30%;
  height: 50vh;
  overflow-y: auto;
  margin: auto;
}

.cardlist li:hover {
  background: #43456b;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.background-for-z-index, .background-for-pop-up-index {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(170, 155, 155, 0.3);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 1;
}

.background-for-z-index .background-for-pop-up-index, .background-for-pop-up-index .background-for-pop-up-index {
  left: 0;
  background: #43456b;
}

.background-for-z-index .background-for-pop-up-index .pop-up, .background-for-pop-up-index .background-for-pop-up-index .pop-up {
  color: white;
  margin: auto;
}

.background-for-z-index .background-for-pop-up-index .pop-up img, .background-for-pop-up-index .background-for-pop-up-index .pop-up img {
  border-radius: 15px;
}

.background-for-z-index .card-form, .background-for-z-index .binder-div, .background-for-pop-up-index .card-form, .background-for-pop-up-index .binder-div {
  background: #43456b;
  width: 50%;
  height: 90%;
  margin: auto;
  border-radius: 5px;
}

.background-for-z-index .card-form .x-div, .background-for-z-index .binder-div .x-div, .background-for-pop-up-index .card-form .x-div, .background-for-pop-up-index .binder-div .x-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.background-for-z-index .card-form .x-div .x, .background-for-z-index .binder-div .x-div .x, .background-for-pop-up-index .card-form .x-div .x, .background-for-pop-up-index .binder-div .x-div .x {
  width: 30px;
  height: 30px;
  font-weight: bold;
  font-size: 15px;
  border-radius: 0 5px 0 5px;
}

.background-for-z-index .card-form .form-header, .background-for-z-index .binder-div .form-header, .background-for-pop-up-index .card-form .form-header, .background-for-pop-up-index .binder-div .form-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 60%;
  margin: 15px auto;
}

.background-for-z-index .card-form .form-header h3, .background-for-z-index .binder-div .form-header h3, .background-for-pop-up-index .card-form .form-header h3, .background-for-pop-up-index .binder-div .form-header h3 {
  font-size: 25px;
  width: 70%;
  margin: auto;
  color: white;
}

.background-for-z-index .card-form .form-header .icon-div, .background-for-z-index .binder-div .form-header .icon-div, .background-for-pop-up-index .card-form .form-header .icon-div, .background-for-pop-up-index .binder-div .form-header .icon-div {
  margin: auto;
  width: 40px;
  height: 30px;
}

.background-for-z-index .card-form .form-header .icon-div .icon, .background-for-z-index .binder-div .form-header .icon-div .icon, .background-for-pop-up-index .card-form .form-header .icon-div .icon, .background-for-pop-up-index .binder-div .form-header .icon-div .icon {
  width: 100%;
  height: 100%;
}

.background-for-z-index .card-form .dropdown, .background-for-z-index .binder-div .dropdown, .background-for-pop-up-index .card-form .dropdown, .background-for-pop-up-index .binder-div .dropdown {
  position: relative;
  display: inline-block;
  width: 70%;
}

.background-for-z-index .card-form .dropdown .dropbtn, .background-for-z-index .binder-div .dropdown .dropbtn, .background-for-pop-up-index .card-form .dropdown .dropbtn, .background-for-pop-up-index .binder-div .dropdown .dropbtn {
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  outline: 0;
}

.background-for-z-index .card-form .dropdown .dropdown-content, .background-for-z-index .binder-div .dropdown .dropdown-content, .background-for-pop-up-index .card-form .dropdown .dropdown-content, .background-for-pop-up-index .binder-div .dropdown .dropdown-content {
  margin-top: 5px;
  position: absolute;
  width: 100%;
  min-width: 160px;
  overflow: auto;
  z-index: 1;
}

.background-for-z-index .card-form .dropdown .dropdown-content .dropdown-list, .background-for-z-index .binder-div .dropdown .dropdown-content .dropdown-list, .background-for-pop-up-index .card-form .dropdown .dropdown-content .dropdown-list, .background-for-pop-up-index .binder-div .dropdown .dropdown-content .dropdown-list {
  background-color: #f1f1f1;
  margin: 0 auto;
  width: 80%;
  border-radius: 15px;
  height: auto;
  max-height: 30vh;
  overflow-y: scroll;
}

.background-for-z-index .card-form .dropdown .dropdown-content .dropdown-list .dropdown-item, .background-for-z-index .binder-div .dropdown .dropdown-content .dropdown-list .dropdown-item, .background-for-pop-up-index .card-form .dropdown .dropdown-content .dropdown-list .dropdown-item, .background-for-pop-up-index .binder-div .dropdown .dropdown-content .dropdown-list .dropdown-item {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 55px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid;
  padding: 0 15px 0 15px;
}

.background-for-z-index .card-form .dropdown .dropdown-content .dropdown-list .dropdown-item:hover, .background-for-z-index .binder-div .dropdown .dropdown-content .dropdown-list .dropdown-item:hover, .background-for-pop-up-index .card-form .dropdown .dropdown-content .dropdown-list .dropdown-item:hover, .background-for-pop-up-index .binder-div .dropdown .dropdown-content .dropdown-list .dropdown-item:hover {
  color: white;
  background: rgba(67, 69, 107, 0.5);
  cursor: -webkit-grab;
  cursor: grab;
}

.background-for-z-index .card-form .dropdown .dropdown-content .dropdown-list .dropdown-item li, .background-for-z-index .binder-div .dropdown .dropdown-content .dropdown-list .dropdown-item li, .background-for-pop-up-index .card-form .dropdown .dropdown-content .dropdown-list .dropdown-item li, .background-for-pop-up-index .binder-div .dropdown .dropdown-content .dropdown-list .dropdown-item li {
  padding: 12px 16px;
}

.background-for-z-index .card-form .dropdown .dropdown-content .dropdown-list .dropdown-item .icon-div, .background-for-z-index .binder-div .dropdown .dropdown-content .dropdown-list .dropdown-item .icon-div, .background-for-pop-up-index .card-form .dropdown .dropdown-content .dropdown-list .dropdown-item .icon-div, .background-for-pop-up-index .binder-div .dropdown .dropdown-content .dropdown-list .dropdown-item .icon-div {
  width: 40px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.background-for-z-index .card-form .dropdown .dropdown-content .dropdown-list .dropdown-item .icon-div .icon, .background-for-z-index .binder-div .dropdown .dropdown-content .dropdown-list .dropdown-item .icon-div .icon, .background-for-pop-up-index .card-form .dropdown .dropdown-content .dropdown-list .dropdown-item .icon-div .icon, .background-for-pop-up-index .binder-div .dropdown .dropdown-content .dropdown-list .dropdown-item .icon-div .icon {
  margin: auto;
  width: 100%;
  height: 100%;
}

.background-for-z-index .add-card-form .form-fields, .background-for-pop-up-index .add-card-form .form-fields {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  margin: 15px auto;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.background-for-z-index .add-card-form .form-fields label, .background-for-pop-up-index .add-card-form .form-fields label {
  font-size: 20px;
  color: white;
}

.background-for-z-index .add-card-form .form-fields input, .background-for-pop-up-index .add-card-form .form-fields input {
  display: inline-block;
  width: 50px;
  height: 30px;
  text-align: center;
  border-radius: 5px;
}

.background-for-z-index .add-card-form input, .background-for-pop-up-index .add-card-form input {
  width: 60px;
  height: 40px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.background-for-z-index .card-item, .background-for-pop-up-index .card-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  margin: 30px auto;
  height: auto;
}

.background-for-z-index .card-item img, .background-for-pop-up-index .card-item img {
  border-radius: 15px;
}

.background-for-z-index .card-item .price-list, .background-for-pop-up-index .card-item .price-list {
  margin: auto;
  color: white;
}

.background-for-z-index .card-item .price-list ul, .background-for-pop-up-index .card-item .price-list ul {
  margin-top: 30px;
}

.background-for-z-index .card-item .price-list ul li, .background-for-pop-up-index .card-item .price-list ul li {
  margin-top: 5px;
}

.background-for-z-index .card-item .price-list span, .background-for-pop-up-index .card-item .price-list span {
  margin-right: 10px;
}

.background-for-z-index .binder-div form, .background-for-pop-up-index .binder-div form {
  margin: auto;
  width: 40%;
  height: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.background-for-z-index .binder-div form label, .background-for-pop-up-index .binder-div form label {
  color: white;
}

.background-for-z-index .binder-div form label, .background-for-z-index .binder-div form input, .background-for-pop-up-index .binder-div form label, .background-for-pop-up-index .binder-div form input {
  margin: auto;
}

@media only screen and (max-width: 600px) {
  .background-for-z-index .card-form, .background-for-z-index .binder-div, .background-for-pop-up-index .card-form, .background-for-pop-up-index .binder-div {
    width: 100%;
    height: 100vh;
  }
  .background-for-z-index .card-item, .background-for-pop-up-index .card-item {
    font-size: 10px;
  }
  .background-for-z-index .card-item img, .background-for-pop-up-index .card-item img {
    width: 50%;
  }
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  text-align: center;
  font-family: 'Comfortaa', cursive;
  height: 100vh;
  overflow: hidden;
  background: #f3f1fd;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

.search-card-form label, .add-card-form label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
  font-size: 30px;
}

.css-1uccc91-singleValue {
  width: 100%;
}
/*# sourceMappingURL=style.css.map */