@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&display=swap');

body{
  text-align: center;
}

.login-form{
  margin: 3em auto;
  padding: 5%;
  display: flex;
  height: auto;
  flex-direction: column;
  box-sizing: border-box;
  border-radius: 15px;
  text-align: center;
  font-family: 'Archivo', sans-serif;
  -webkit-box-shadow: -11px 5px 42px 1px rgba(176,166,176,1);
  -moz-box-shadow: -11px 5px 42px 1px rgba(176,166,176,1);
  box-shadow: -11px 5px 42px 1px rgba(176,166,176,1);
  overflow: auto;
  background-color: white;
}

.login-container{
  position: relative;
  top: 0;
  padding-top: 5%;
  background: rgb(195,169,34);
  background: linear-gradient(95deg, rgba(195,169,34, 0.5) 0%, rgba(45,213,253,0.6) 100%);
}

.inputs{
  display: flex;
  flex-direction: column;
  border-radius: 10px;
}

.inputs label{
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.inputs label span, #submit{
  font-family: 'Comfortaa', cursive;
}
