@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&display=swap');

body{
  text-align: center;
  font-family: 'Comfortaa', cursive;
  box-sizing: border-box;
}

li{
  list-style: none;
}

.login-form{
  margin: 3em auto;
  padding: 5%;
  display: flex;
  height: auto;
  flex-direction: column;
  border-radius: 15px;
  -webkit-box-shadow: -11px 5px 42px 1px rgba(176,166,176,1);
  -moz-box-shadow: -11px 5px 42px 1px rgba(176,166,176,1);
  box-shadow: -11px 5px 42px 1px rgba(176,166,176,1);
  overflow: auto;
  background-color: white;
}

.login-container{
  position: relative;
  top: 0;
  padding-top: 5%;
  background: rgb(195,169,34);
  background: linear-gradient(95deg, rgba(195,169,34, 0.5) 0%, rgba(45,213,253,0.6) 100%);
}

.inputs{
  display: flex;
  flex-direction: column;
  border-radius: 10px;
}

.inputs label{
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

#email, #password{
  width: 15rem;
  height: 2rem;
  margin-bottom: 2rem;
}

#submit{
  margin: 0 auto;
  display: inline-block;
  width: 15rem;
  height: 2rem;
  font-size: 20px;
  border-radius: 15px;
}
 
#submit:hover{
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  z-index: 1;
  background: rgb(195,169,34);
  background: linear-gradient(95deg, rgba(195,169,34, 0.6) 0%, rgba(45,213,253,0.8) 100%);
}

#submit:focus{
  outline: 0;
}

.login-form p span{
  margin-left: 15px;
}

.login-form p span:hover{
  -webkit-transform: scale(1.3);
  -ms-transform: scale(1.3);
  transform: scale(1.3);
}

#nav-bar{
  background-color: rgba(44,134,81, 0.9);
  width: auto;
  padding-bottom: 15px;
}

.link{
  color: white;
  flex-grow: 1 1 1;
  display: inline-block;
  width: 20%;
  height: auto;
  text-decoration: none;
  font-size: 25px;
  font-weight: bold;
}

.link-div{
  padding: 25px;
}

.link:hover{
  color: darkgreen;
  background-color: rgba(250,250,250, 0.5)
}

#logout{
  display: inline-block;
  width: auto;
  height: auto;
  font-weight: bold;
  font-size: 18px;
  padding: 15px;
  margin-top: 0;
}

#logout:focus{
  outline: 0;
}

#header{
  padding: 15px;
  margin-top: 5px auto;
  width: auto;
  height: 20%;
}

.header-name{
  color: rgb(109,209,150);
  text-shadow: 2px 2px 4px #000000;
  letter-spacing: 20px;
  font-size: 50px;
}

.add-card-div{
  background-image: url('https://imagesvc.meredithcorp.io/v3/mm/gif?url=https%3A%2F%2Fcdn-img.health.com%2Fsites%2Fdefault%2Ffiles%2Fstyles%2Fmedium_16_9%2Fpublic%2Fstyles%2Fmain%2Fpublic%2Fflat-belly-cards.gif%3Fitok%3D_Jf3jwLd%261549666439&w=400&q=85');
  height: 200vh;
  margin: 0;
  padding-top: 15px;
}

.add-card-input{
  height:3rem;
  margin: 10px auto;
  width: 90%;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.add-card-input:focus{
  outline: 0;
}

.add-card-form label{
  display: flex;
  flex-direction: column;
  margin:0 auto ;
  font-size: 30px;
}

.cards{
  padding-bottom: 0;
  background-color: rgba(250,250,250, 0.8);
  width: 40%;
  margin:0 auto;
  border-radius:15px;
}

.cards li, .card-name{
  font-size: 25px;
  padding-bottom: 15px;
  cursor: grab;
}

.cards li:hover{
  background-color: rgba(71,146,101, 0.5);
  width: 80%;
  margin: 10px auto;
}

.card-form{
  padding: 10px;
  background-color: rgb(57,156,98);
  top: 25em;
  left: 40em;
  margin: 25em auto 4em;
  width: 30em;
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  -webkit-box-shadow: -11px 5px 42px 1px rgba(176,166,176,1);
  -moz-box-shadow: -11px 5px 42px 1px rgba(176,166,176,1);
  box-shadow: -11px 5px 42px 1px rgba(176,166,176,1);
}

.card-form label{
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.card-info-button{
  width: 10em;
}

.card-info-button:focus{
  outline: 0;
}

.background-for-z-index{
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 210vh;
  top:0em;
  background-color: rgba(170,155,155, 0.3)
}

#amount{
  width: 30%;
  margin-bottom: 1em;
  border-radius: 15px;
  outline: 0;
  height: 20px;
}

.x, .card-info-button{
  display: inline-block;
  width: 3em;
  height: 30px;
  margin: 10px auto;
  border-radius: 15px;
}

.card-info-button{
  width: 10em;
}

.x{
  outline: 0;
  margin-bottom: 3em;
  padding-left: 9px;
}

.table{
  margin:20px auto;
  width: 90%;
  height: 50vh;
  overflow-y: scroll;
  border-bottom: 3px solid #808080;
}

table{
  width: 100%;
  border-collapse: collapse;
  empty-cells: show;
  font-weight: bold;
}

th, td{
  border: 3px solid #808080;
  height: 50px;
  text-align: center;
  font-size: 15px;
}

.foil-hover{
  border-collapse: collapse;
  width: 20em;
  height: auto;
  background: black;
  color: white;
}

.hover-me:hover{
  cursor: pointer;
}

.cards-are-loading{
  border-bottom: 1px solid transparent;
  border-right: 1px solid transparent;
  border-left: 1px solid transparent;
}

.edit-card{
  display: flex;
  margin: 5px auto;
  width: 5em;
  text-align: center;
  padding: 5px 10px;
  border-radius: 15px;
  font-weight: bold;
  font-size: 15px;
}

.amount, .foil{
  width: 15%;
}

@media only screen and (min-width: 300px){
  .login-form{
    height: auto;
    width: 80%;
  }

  .login-container{
    padding-bottom: 25px;
    height:165vh;
  }
}

@media only screen and (max-width: 360px){
  #nav-bar{
    height: auto;
  }
}

@media only screen and (min-width: 400px){
  .add-card-input{
    width: 80%;
  }

  .cards{
    width: 80%;
  }
}

@media only screen and (max-width: 500px){
  #nav-bar{
    height: auto;
  }

  .link {
    padding: 10px;
    font-size: 20px;
  }

  #header{
    height:auto ;
    display: flex;
    flex-wrap: wrap;
  }

  .header-name{
    width:100%;
    padding: 0;
    margin:0;
    font-size: 30px;
  }

  .card-form{
    height: auto;
    width: 80%;
  }
}

@media only screen and (min-width: 750px){
  .login-form{
    height: auto;
    width: 40%;
    padding:30px;
  }

  .login-container{
    padding-bottom: 25px;
  }

  .card-form{
    height: auto;
    width: 40%;
    padding:30px;
  }
}

@media screen and (max-width: 1000px){
  #header{
    padding: 0;
  }

  .header-name{
    letter-spacing: normal;
    margin-right:0;
    font-size:2em;
  }

  .link{
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 20px;
  }

  #nav-bar {
    height: auto;
  }

  #logout{
    margin-bottom: 15px;
  }
}